
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Mi carrito</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><a href="#">Carrito</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-8 col-md-8 col-sm-12">
                <div class="card card-outline card-primary">
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col col-4">
                                                 <img src="../img/mueble.jpg" class="product-image" alt="Product Image">
                                            </div>
                                            <div class="col col-8">
                                                <strong>Mueble</strong>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">2</td>
                                    <td class="align-middle">S/. 550.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col col-4">
                                                 <img src="../img/mueble.jpg" class="product-image" alt="Product Image">
                                            </div>
                                            <div class="col col-8">
                                                <strong>Mueble</strong>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">2</td>
                                    <td class="align-middle">S/. 550.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <div class="card card-outline card-success">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-7">
                                <strong>Total</strong>
                            </div>
                            <div class="col col-5">
                                <Strong>S/. 1500</Strong>
                            </div>
                        </div>
                        <div class="btn btn-outline-success">Pagar</div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

 